
#survey-form{
    max-width: 800px;
    margin: auto;
    background-color: #C2D9FF;
    color: #190482;
} 

.details{
    margin-bottom: 10px;
}

.details-label{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
}

.details-text-input{
       margin: auto;
    min-width: 100%;
}

body{
    background-color: #190482;
}

fieldset{
    border: 0;
}

textarea{
    display: block;
    margin: 10px;
    width: 200px;
    height: 100px;
}

.submit{
    padding: 12px;
}

header{
    background-color: #C2D9FF ;
    width: 800px;
    margin: auto;
    text-align: center;
}