/* h1{
   text-align: center;
}

#description{
    text-align: center;
}

#survey-form{
    max-width: 800px;
    margin: auto;
}

.details-label{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
}

.details-text-input{
       margin: auto;
    min-width: 100%;
} */

